body{
  font-family: 'Roboto'
}
h1{
  font-family: 'Berkshire Swash', sans-serif;
  font-weight: 100;
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px #a5a5a5;
}
h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

